spring.application.name=Expense-Tracker
spring.datasource.url=jdbc:h2:mem:testdb
spring.datasource.driverClassName=org.h2.Driver
spring.jpa.database-platform=org.hibernate.dialect.H2Dialect
# Enables the web-based console at /h2-console
spring.h2.console.enabled=true
# Automatically creates the DB schema based on your @Entity classes
spring.jpa.hibernate.ddl-auto=update
