spring.application.name=Marketplace

spring.datasource.url=
spring.datasource.username=
spring.datasource.password=

spring.jpa.hibernate.ddl-auto=update

spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
logging.level.org.hibernate.SQL=DEBUG
logging.level.org.hibernate.orm.jdbc.bind=TRACE

spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect

spring.jackson.deserialization.fail-on-unknown-properties=true

# To error when passing string to a number type in DTOs
# Still allows passing number to a string type and converts
spring.jackson.mapper.allow-coercion-of-scalars=false

# Used in conjuction with @ConditionalOnProperty on classes that contain scheduled methods
# Allows disabling scheduling in testing to avoid side effects
scheduler.enabled=true